# Building a Decision Tree Classifier
Predicting whether a person will purchase a product or service based on their demographic and behavorial data

This serves as the 3rd task of Data Science Internship in Prodigy Infotech
# Prodigy_DS_03

<div class="container" style="display: flex;
                              align-items: center;
                              justify-content: center;">
  <div class="column">
    <img src="Decision-Tree-Classifier.png" width="400"/>
  </div>
  <div class="column">
    <img src="Decision-Tree-Classifier-Ex.png" width="400"/>
  </div>
</div>

In [1]:
#for data sourcing

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('bank.csv')

<h1 style="color:Turquoise;">Data description</h1>
The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. 
bank.csv with 10% of the examples and 17 inputs, randomly selected from 3 (older version of this dataset with less inputs). 
The smallest datasets are provided to test more computationally demanding machine learning algorithms. 

The classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).

In [3]:
data.head(25)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,married,tertiary,no,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,married,secondary,no,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,married,tertiary,no,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no

In [4]:
data.shape

(4521, 17)

In [5]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [6]:
data.nunique()

age            67
job            12
marital         3
education       4
default         2
balance      2353
housing         2
loan            2
contact         3
day            31
month          12
duration      875
campaign       32
pdays         292
previous       24
poutcome        4
y               2
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

<h1 style="color:orange;">Feature Encoding</h1>

In [8]:
cleandata=data

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
cleandata['job'] = le.fit_transform(cleandata['job'])
cleandata['marital'] = le.fit_transform(cleandata['marital'])
cleandata['education'] = le.fit_transform(cleandata['education'])
cleandata['default'] = le.fit_transform(cleandata['default'])
cleandata['housing'] = le.fit_transform(cleandata['housing'])
cleandata['loan'] = le.fit_transform(cleandata['loan'])
cleandata['contact'] = le.fit_transform(cleandata['contact'])
cleandata['month'] = le.fit_transform(cleandata['month'])
cleandata['poutcome'] = le.fit_transform(cleandata['poutcome'])
cleandata['y'] = le.fit_transform(cleandata['y'])
cleandata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   int32
 2   marital    4521 non-null   int32
 3   education  4521 non-null   int32
 4   default    4521 non-null   int32
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   int32
 7   loan       4521 non-null   int32
 8   contact    4521 non-null   int32
 9   day        4521 non-null   int64
 10  month      4521 non-null   int32
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   int32
 16  y          4521 non-null   int32
dtypes: int32(10), int64(7)
memory usage: 424.0 KB

In [10]:
cleandata.corr()
cleandata.corr()['y'].sort_values(ascending=False)

y            1.000000
duration     0.401118
previous     0.116714
pdays        0.104087
age          0.045092
education    0.042987
job          0.027401
balance      0.017905
marital      0.015042
default      0.001303
day         -0.011244
month       -0.040933
campaign    -0.061147
loan        -0.070517
poutcome    -0.082632
housing     -0.104683
contact     -0.133595
Name: y, dtype: float64

<h1 style="color:lime;">Feature V/S Target</h1>

In [11]:
features = cleandata.drop('y',axis=1)
target = cleandata['y']

In [12]:
features.head(16)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,30,10,1,0,0,1787,0,0,0,19,10,79,1,-1,0,3
1,33,7,1,1,0,4789,1,1,0,11,8,220,1,339,4,0
2,35,4,2,2,0,1350,1,0,0,16,0,185,1,330,1,0
3,30,4,1,2,0,1476,1,1,2,3,6,199,4,-1,0,3
4,59,1,1,1,0,0,1,0,2,5,8,226,1,-1,0,3
5,35,4,2,2,0,747,0,0,0,23,3,141,2,176,3,0
6,36,6,1,2,0,307,1,0,0,14,8,341,1,330,2,1
7,39,9,1,1,0,147,1,0,0,6,8,151,2,-1,0,3
8,41,2,1,2,0,221,1,0,2,14,8,57,2,-1,0,3
9,43,7,1,0,0,-88,1,1,0,17,0,313,1,147,2,0
10,39,7,1,1,0,9374,1,0,2,20,8,273,1,-1,0,3
11,43,0,1,1,0,264,1,0,0,17,0,113,2,-1,0,3
12,36,9,1,2,0,1109,0,0,0,13,1,328,2,-1,0,3
13,20,8,2,1,0,502,0,0,0,30,0,261,1,-1,0,3
14,31,1,1,1,0,360,1,1,0,29,4,89,1,241,1,0
15,40,4,1,2,0,194,0,1,0,29,1,189,2,-1,0,3

<h1 style="color:#FD5B78;">Decision Tree Classifier</h1>

<h1 style="color:fuchsia;">Decision Tree Classifier Training</h1>

In [13]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(features, target, test_size= 0.25, random_state=0)

In [14]:
#Fitting Decision Tree classifier to the training set
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion='entropy', random_state=0) 
model.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [15]:
#checking my model fitting
model.score(x_train, y_train)

1.0

<h1 style="color:fuchsia;">Decision Tree Classifier Testing</h1>

In [16]:
#Predicting the test set result
#model.predict([[26,3,1,2,0,543,0,0,0,30,4,169,3,-1,0,3]])
y_pred= model.predict(x_test)

<h1 style="color:#FF007C;">Decision Tree Classifier Score</h1>

In [19]:
#model gives a score of 87 out of 100 to the factual entries
model.score(x_test, y_test)

0.8726790450928382

<h1 style="color:#FF007C;">Passed with Flying colors - 87% 🎉</h1>

In [20]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)  
cm
#71 + 73 = 144 incorrect predictions and 922 + 65 = 987 correct predictions

array([[922,  71],
       [ 73,  65]], dtype=int64)

<h1 style="color:fuchsia;">Trying another Decision Tree Classifier Algorithm</h1>
includes feature scaling

In [21]:
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()  
x_train1= st_x.fit_transform(x_train)    
x_test1= st_x.transform(x_test)

In [22]:
#Fitting Decision Tree classifier to the training set  
from sklearn.tree import DecisionTreeClassifier  
model1= DecisionTreeClassifier(criterion='entropy', random_state=0)  
model1.fit(x_train1, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [23]:
#checking my model fitting
model1.score(x_train1, y_train)

1.0

In [24]:
#Predicting the test set result
#model.predict([[26,3,1,2,0,543,0,0,0,30,4,169,3,-1,0,3]])
y_pred1= model1.predict(x_test1)

In [25]:
#model gives full mark to its own prediction using Desicion Tree Classifier
model1.score(x_test1, y_pred1)

1.0

In [26]:
#model gives a score of 87 out of 100 to the factual entries
model1.score(x_test1, y_test)

0.8726790450928382